img {
  position: relative;
  bottom: 50px;
  left: 300px;
  width: 900px;
  height: 600px;
}
.dashboard-data {
  margin-left: 18%;
  display: flex;
  justify-content: space-around;
}
.welcome-note {
  margin-left: 18%;
}
