.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 40px;
    margin-top: 250px;
    margin-left: 285px;
    margin-right: 55px;
  }
  